<div>
  <div>
    <label for="new-title-input">Title: </label>
    <input [(ngModel)]="newTodo.title" name="new-title-input" placeholder="Enter new todo title">
    <label for="new-text-input">Text: </label>
    <input [(ngModel)]="newTodo.text" name="new-text-input" placeholder="Enter new todo text">
    <button (click)="addTodo()">Add new todo</button>
  </div>
  <ul>
    <li *ngFor="let todo of todos">
      <div>
          <button (click)="deleteTodo(todo)">X</button>
          <app-todo-details [todo]="todo"></app-todo-details>
      </div>
    </li>
  </ul>
</div>