<div>

  <h4 (click)="toggleEditingTodo()">{{todo.title}}</h4>

  <div [hidden]="!isBeingEdited">
      <div>
        <label for="title-input">Title:</label>
        <input [(ngModel)]="todo.title" placeholder="title" name="title-input">
      </div>
      <div>
        <label for="text-input">Text:</label>
        <input [(ngModel)]="todo.text" placeholder="text" name="title-input">
      </div>
      <div>
          <label for="checkbox-done">Done: </label>
          <input type="checkbox" [checked]="todo.done" (change)="toggleDone()" name="checkbox-done">
      </div>
      <div>
        <label for="select-priority">Priority: </label>
        <select [value]="todo.priority" (change)="setPriority($event.target.value)" name="select-priority">
            <option *ngFor="let val of priorityValues" value={{val}}>
                {{val}}
            </option>
        </select>
      </div>
      <button (click)="updateTodo()">Save</button>
      <button (click)="cancelEditingTodo()">Cancel</button>
  </div>
</div>